# Environment variables
.env
.env.*

# Python cache
.env
__pycache__/
*.py[cod]
__pycache__
.pyc

# Virtual environments
venv/
.venv/
env/

# IDE settings
.vscode/

# OS files
.DS_Store
Thumbs.db

logs
todo.md

storage/